.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  color:#696969;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@media (max-width:769px){
	.modal-content {
	  text-align: center;
	  position: relative;
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  border: 1px solid #888;
	  width: 100%;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	  -webkit-animation-name: animatetop;
	  -webkit-animation-duration: 0.4s;
	  animation-name: animatetop;
	  animation-duration: 0.4s
	}
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-body {
	padding: 2px
	width:100%;
}

.modal-body2{
	width:30%;
	float:left;
	margin-bottom:20px;
}

.modal-body3{
	width:70%;
	float:left;
	margin-bottom:20px;
}

.modal-footer {
  padding: 2px 16px;
}


.delete-display {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.delete-content {
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: none;
  color:#696969;
  width: 30%;
  height:500px;
  overflow-y: auto;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@media (max-width:769px){
	.delete-content {
	  text-align: center;
	  position: relative;
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  border: none;
	  width: 100%;
	  height:500px;
	  overflow-y: auto;
	  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0.19);
	  -webkit-animation-name: animatetop;
	  -webkit-animation-duration: 0.4s;
	  animation-name: animatetop;
	  animation-duration: 0.4s
	}
}

.delete-content2 {
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: none;
  width: 30%;
  height:150px;
  box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2),0 8px 0px 0 rgba(0,0,0,0);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@media (max-width:769px){
	.delete-content2 {
	  text-align: center;
	  position: relative;
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  border: none;
	  width: 100%;
	  height:150px;
	  box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2),0 8px 0px 0 rgba(0,0,0,0);
	  -webkit-animation-name: animatetop;
	  -webkit-animation-duration: 0.4s;
	  animation-name: animatetop;
	  animation-duration: 0.4s
	}
}

.delete-body {
	padding: 2px
	width:100%; 
}

.okay-btn{
	background-color: #4B3E86;
	border-radius:15px;
	border: none;
	color: white;
	padding: 20px;
	outline:none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width:50%;
}

.okay-btn:hover{
	background-color: #6B5CB4;
}

.cancle-btn{
	background-color: #4E4F50;
	border-radius:15px;
	border: none;
	color: white;
	padding: 20px;
	outline:none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
	width:50%;
}

.cancle-btn:hover{
	background-color: #5B5B5C;
}

.input-text{
	width:80%;
}

.head-modal{
	margin-top:10px;
	margin-bottom:20px;
	font-size:20px;
}

textarea {
  resize: none;
  width:80%;
}

.custom-select{
	width:80%;
}

.customize{
	border:1px solid #DCDCDC;
	border-radius:5px;
	padding:5px;
	outline:none;
	background-color: #ffffff;
	color:#696969;
}

.modal .modal-content  form .error {
  color: #ff0000;
}
